<footer class="footer-distributed">

    <div class="footer-left">
        <h3>Chandir <br> <span>Dehqonchilik</span></h3>

        <p class="footer-links">
            <a href="{% url 'news'%}">Asosiy sahifa</a>
            |
            <a href="{% url 'product'%}">Mahsulotlar</a>
            |
            <a href="{% url 'store'%}">Sotuvdagi mahsulotlar</a>
            |
            <a href="{% url 'contact'%}">Bog'lanish</a>
        </p>

        <p class="footer-company-name">Copyright © 2024 <strong>Shaxodbek</strong>MIT LICENSE</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Samarqand, PastDarg'om</span>
                Novchandir 29-uy</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+998 91 526 01 12</p>
        </div>
<!--        <div>-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            <p><a href="mailto:muxtorovshaxzodbek16@gmail.com">muxtorovshaxzodbek16@gmail.com</a></p>-->
<!--        </div>-->
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Dehqonchilik haqida: </span>
            <strong>Dehqonchilik</strong> da biz Qulupnay, Bodiring, qulupnay ko'chat va boshqa narsalarni
            yetishtiramiz.
        </p>
        <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1010.1870385666484!2d66.69277266769052!3d39.665585676808014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1suz!2s!4v1719667691051!5m2!1suz!2s" width="250px" height="150px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>
