<nav>
    <ul class="sidebar">
        <li onclick=hideSidebar()><a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26">
                <path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
            </svg>
        </a></li>
        <li><a href="{% url 'news'%}">Asosiy sahifa</a></li>
        <li><a href="{% url 'product'%}">Mahsulotlar</a></li>
        <li><a href="{% url 'store'%}">Sotuvdagi mahsulotlar</a></li>
        <li><a href="{% url 'contact'%}">Bog'lanish</a></li>
        <li><a href="/dehqon/">Admin</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'news'%}">Dehqonchilik</a></li>
        <li class="hideOnMobile"><a href="{% url 'news'%}">Asosiy sahifa</a></li>
        <li class="hideOnMobile"><a href="{% url 'product'%}">Mahsulotlar</a></li>
        <li class="hideOnMobile"><a href="{% url 'store'%}">Sotuvdagi mahsulotlar</a></li>
        <li class="hideOnMobile"><a href="{% url 'contact'%}">Bog'lanish</a></li>
        <li class="hideOnMobile"><a href="/dehqon/">Admin</a></li>

        <li class="menu-button" onclick=showSidebar()>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26">
                    <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                </svg>
            </a>
        </li>
    </ul>
</nav>
