<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mahsulotlar</title>
      <link rel="shortcut icon" href="{% static 'images/logo/product.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
{% include 'navbar.html' %}

<main class="product-container">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.photo.url }}" alt="{{ product.title }}" class="product-image">
        <div class="product-details">
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <p class="product-price">{{ product.price }}</p>
            <p class="product-description">{{product.created_at}}</p>
            {% for category in product.category.all %}
                    <p class="product-category">Kategoriyasi: {{ category.name }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</main>

{% include 'footer.html' %}
<script src="{% static 'javascript/navbar.js' %}"></script>
</body>
</html>
