<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Store</title>
          <link rel="shortcut icon" href="{% static 'images/logo/store.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/store.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <main class="store-container">
        <h2>Sotuvdagi maxsulotlar</h2>
        <div class="store-items">
            {% for store_item in info %}
                {% if store_item.is_active %}
                    <div class="store-card">
                        <img src="{{ store_item.photo.url }}" alt="{{ store_item.name.title }}" class="store-image">
                        <div class="store-details">
                            <h3 class="store-title">{{ store_item.name.title }}</h3>
                            <p class="store-description">{{ store_item.description }}</p>
                            <p class="store-price">{{ store_item.price }} UZS</p>
                            <button class="store-buy-button"><a href="{% url 'contact'%}">Sotib olish</a></button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>

    {% include 'footer.html' %}
    <script src="{% static 'javascript/navbar.js' %}"></script>
</body>
</html>
